body {
    margin: 0;
    background-color: #6b51b4;
    text-align: center;
    padding: 3% 15% 3%;
    color: white;
}

.title-container {
    padding: 3% 15% 3%;
}

h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 3rem;
    line-height: 1.5;
}

p {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

a {
    color: red;
    margin-right: 5%;
    margin-left: 5%;
}


